main {
    padding: 16px;
}
.grid-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
}
a {
    text-decoration: none;
}
h1 :link {
    color: yellow;
}
body {
    padding: 0;
    margin: 0;
}
footer {
    padding: 30px;
    background-color: green;
    width: 100%;

}
img {
    height: 200px;
}
nav {
    padding: 24px;
    width: 100%;
    background-color: orangered;
}
tr:nth-child(even) {
    background-color: gray;
}
